@require 'nib'
@require './material'
@require './reveal'

darkPrimaryColor = #0288D1
primaryColor = #03A9F4
lightPrimaryColor = #B3E5FC
textIconsColor = #FFFFFF
accentColor = #FF5252
primaryTextColor = #212121
secondaryTextColor = #757575
dividerColor = #BDBDBD

anyButton(fontColor = null, backColor = null)
  padding 0.5em 8px 0.2em 8px
  margin 0 8px
  text-align center
  border-radius 2px
  font-size 14px
  min-width 64px
  display inline-block
  cursor pointer
  text-decoration none
  if fontColor
    color fontColor
  if backColor
    background-color backColor
  

primaryButton()
  anyButton(textIconsColor, accentColor)
  color textIconsColor
  background-color accentColor
  box-shadow 0px 0px 3px alpha(black, 50%)

secondaryButton()
  anyButton(lightPrimaryColor)
  color lightPrimaryColor
  background none
  text-shadow 1px 1px 3px alpha(black, 50%)
  &:hover
    color textIconsColor


.button
  anyButton()

.primary-button
  primaryButton()

.secondary-button
  secondaryButton()

md-card
  margin-bottom 20px
  margin-top 20px

