<head>
  <base href="/">
  <link type="text/css" src="/app.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Kalam|Nunito+Sans:400,500|Rubik" rel="stylesheet">
  <title>Classroom</title>
</head>

<body>
  <classroom-app></classroom-app>

  <script src="/scripts/paper.js"></script>
  <script src="/scripts/reveal.js"></script>
  <script src="/scripts/reveal.draw.js"></script>
  <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
</body>
