@import '../../../common'

md-toolbar
  .app-toolbar-filler
    flex 1 1 auto
  
  h3, h4
    margin 0 1em
    font-family Rubik
  
  header-logo
    display flex
    justify-content flex-start
    align-items center

    .apple-logo
      height 50px

  
  [md-button], [md-raised-button]
    margin 0 4px
  
  .username
    font-size 14px
    font-weight 500

  .centered-title
    text-align center
    width 100%
    > div, > img, > h4
      display inline-block
      padding 0
      margin 0
    img
      max-height 1.5em


[md-button] span > span.badge
  font-size 0.8em
  position absolute
  top 7px
  right -4px
  display block
  line-height 0.8em
  background-color accentColor
  color textIconsColor
  border-radius 4px
  padding 0.5em
  margin 0
  z-index 50


[md-button]
  position relative

header
  margin 0
  margin-bottom 10px
  padding 0
  border-top 10px solid darkPrimaryColor
  box-shadow 0 0 7px black
  background-color primaryColor

  h1, h2, h3, h4
    color textIconsColor
    text-align center

  nav
    .feature-navigation
      float left
      width 50%
    .account-navigation
      float left
      width 50%
      text-align right
    > section > a, > section > div
      secondaryButton()
      // padding 2px 0.5em
      // padding-bottom 0
      // margin 0 0.5em
      // text-shadow 1px 1px 3px alpha(black, 50%)
      // text-decoration none
      // display inline-block
      // color lightPrimaryColor
      position relative

      navLinkBorderWidth = 3px
      border-bottom navLinkBorderWidth solid alpha(white, 0%)

      &:hover
        color textIconsColor

      > span.badge
        color textIconsColor
        background-color accentColor
        border-radius 1em
        display block
        width 1.5em
        font-size 0.7em
        text-align center
        position absolute
        top 0
        right -1em

      &.active-route
        border-bottom navLinkBorderWidth solid accentColor
        color textIconsColor

section.news
  text-align right
  padding-right 5%
  margin 6px 0
