@import 'nib'
@import './lecture/lecture.component'
@import './header/header.component'
@import './header/login-dialog.component'


body classroom-app .site-content
  &, h1 h2, h3, button, a, div, span, md-card, md-card-title, md-card-subtitle, [md-menu-item]
    font-family 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif

body
  padding 0
  margin 0
  background darken(white, 3%)

section.app-content
  width 80%
  margin 0 auto
  min-width 420px
