@import '../../../common'

lecture
  md-card.slides-container
    padding 0

  .lecture-title
    color primaryTextColor
  .lecture-description
    color secondaryTextColor
  
  // actions to modify the reveal presentation
  .reveal-actions
    .color-action.selected, .tool-action.selected
      md-icon
        transform scale(1.3)
        text-shadow 0 0 2px white, 0 0 7px black

  // reveal settings
  .reveal
    width 100%
    padding-bottom 75% // forces a 4:3 ratio
    position relative

    h1, h2
      font-size 1.9em

    .slides
      text-align center
      position absolute
      width 100%
      height 100%
      top 0
      right 0
      bottom 0
      left 0
      margin auto
      overflow visible
      z-index 1
      perspective 600px
      perspective-origin 50% 40%

    .sl-block
      display block
      position absolute
      z-index auto

      .sl-block-content
        text-align center
        display block
        position relative
        width 100%
        height 100%
        max-width none
        max-height none
        margin 0
        outline 0
        word-wrap break-word

    table
      margin auto
      border-collapse collapse
      border-spacing 0
      width 100%
      empty-cells show
      table-layout fixed

      th
        font-weight bold
        text-align left
        padding 0.2em 0.5em 0.2em 0.5em
        border-bottom 1px solid

      th, td
        padding 5px
        min-width 40px
        border 1px solid currentColor
        vertical-align top
        text-align inherit
        outline 0
        word-break break-word

      tr:last-child td
        border-bottom none
    
    ul, ol
      margin-left 1em
      padding-left 1em
      text-align left

    .sl-block
      position absolute

    // reveal draw canvas positioning
    canvas
      position absolute
      top 0
      left 0
      z-index 8000

    // mini opentok viewer styles
    opentok-viewer
      z-index 7000
      position absolute
      bottom 10px
      left 10px

      .opentok-viewer-container
        width 100px
        height 100px

      .access-dialog-open
        background white

lectures-list
  md-card
    width 76%
  
  .goto-lecture-action
    position absolute
    bottom -9px
    right -3px

lecture-questions-list
  textarea
    width 100%